# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# 
Objectives:
- List of the popular languages that Data Scientists
- List of the commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of evaluating arithmetic expressions in Python

# 
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

## 

| Data Science Tools |
| ------------------ |
| Apache Hadoop |
| Apache Spark |
| Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
minutes = 200
hours, minutes = divmod(minutes, 60)
print(f"{hours} hours and {minutes} minutes")

3 hours and 20 minutes

## Author
Laura Royo SÃ¡nchez